<header>
  <h1>The Kendo Store</h1>
</header>
<section class="products">
  @if (products$ | async; as products) {
    @for (product of products; track product) {
      <div class="product" (click)="onSelectProduct(product)">
        <h2>{{ product.title }}</h2>

        <img [src]="product.image" [height]="150" width="150" [alt]="product.title">

        @if (selectedProduct?.id === product.id) {
          <button>Purchase</button>
        }
        <span>{{ product.price | currency }}</span>
      </div>

    }
  }
</section>
<footer> build with 💗 & 🅰️ngular</footer>
